@page "/childs"
@using BabySparksSharedClassLibrary.Enums
@using BabySparksSharedClassLibrary.Models

<div class="container">
    @if (isAddNewChildOpen)
    {
        <div class="search-bar mb-3">
            <button class="btn btn-link back-button" @onclick="GoToChildDetail">
                <i class="fa fa-arrow-left"></i> Back
            </button>
        </div>
        <div class="profile-container shadow p-4">
            <div class="profile-content text-center">
                <div class="profile-image-container mb-4">
                    <div class="position-relative mx-auto" style="width: 150px; height: 150px;">
                        @if (child.ProfileImageUrl != null)
                        {
                            <img id="previewImg" src="@child.ProfileImageUrl" class="rounded-circle w-100 h-100" />
                        }
                        else
                        {
                            <img id="previewImg" src="/_content/BabySparksUIComponents/images/children.png" class="rounded-circle w-100 h-100" />
                        }
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="capturedimage" class="d-none" capture />
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="uploadimage" class="d-none" />
                        <button class="btn btn-secondary rounded-circle position-absolute bottom-0 end-0" @onclick="OpenCamera">
                            <span class="fa fa-camera fa-lg"></span>
                        </button>
                    </div>
                </div>
                <EditForm Model="child" OnValidSubmit="RegisterChild">
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-4">
                            <input class="form-control" placeholder="Child's First Name" @bind-value="child.FirstName" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-4">
                            <input class="form-control" placeholder="Child's Last Name" @bind-value="child.LastName" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-4">
                            <input class="form-control" type="date" placeholder="Child's DOB" @bind-value="child.DateOfBirth" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-4">
                            <InputRadioGroup @bind-Value="child.Gender" class="d-flex justify-content-around">
                                @foreach (var gender in Enum.GetValues<Gender>())
                                {
                                    <label class="form-check form-check-inline">
                                        <InputRadio Value="gender" class="form-check-input" />
                                        @gender
                                    </label>
                                }
                            </InputRadioGroup>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-4">
                            <label class="form-label">Height in CM</label>
                            <input type="number" class="form-control" placeholder="Height in CM" @bind-value="child.height" required />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 offset-md-4">
                            <label class="form-label">Weight in KG</label>
                            <input type="number" class="form-control" placeholder="Weight in KG" @bind-value="child.weight" required />
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="form-group col-md-4 offset-md-4">
                            <input type="submit" value="Save" class="btn btn-primary submit-btn" />
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    }
    else
    {
        <div class="search-bar">
            <span class="fa fa-bars" @onclick="OpenSidebarMenu"></span>
            <button class="view-profile" style="margin-left: 10px;" @onclick="OpenNewChildComponent">Add Child Detail</button>
        </div>
        <div class="top-rated">
            @foreach(Child child in childrenList)
            {
                <div class="profile-list-item">
                    <img src="/_content/BabySparksUIComponents/images/children.png" alt="Profile Picture" class="profile-list-image" />
                    <div class="profile-list-info">
                        <div>

                            <h3>@child.FirstName</h3> <h6>@child.DocId</h6>
                        </div>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                        
                    </div>
                </div>
            }
        </div>
    }
    
</div>

@if (isSidebarOpen)
{
    <BabySparksUIComponents.SubComponent.Sidebar OnClose="CloseSidebar"></BabySparksUIComponents.SubComponent.Sidebar>
}
