@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<RadzenButton Shade="Shade.Darker" Click=@(IncrementCount) Text="Click me" ButtonStyle="ButtonStyle.Primary" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
