@page "/"
@page "/home"

<div class="header-container">
    <div class="header">
        <div class="imageheader" style="display : flex; height : 60px;">
            <div style="width:50px;">
                <img src="/_content/BabySparksUIComponents/images/profile.png" alt="Profile Image" @onclick="OpenSidebarMenu">
            </div>
            <div>
                @if(AppState.user.userType == BabySparksSharedClassLibrary.Enums.UserType.Nanny || 
                AppState.user.userType == BabySparksSharedClassLibrary.Enums.UserType.Parent)
                {
                    <h4 style="margin: 10px;">Hello @AppState.user.FirstName</h4>
                }else{
                    <h4 style="margin: 10px;">Hello DaycareProvider</h4>
                }
            </div>
        </div>
        <div class="welcomeheader" style="text-align:left;">
            <h5>Welcome to BabySparks</h5>
        </div>
    </div>
</div>

@if (isSidebarOpen)
{
    <BabySparksUIComponents.SubComponent.Sidebar OnClose="CloseSidebar"></BabySparksUIComponents.SubComponent.Sidebar>
}

@if(AppState.user.userType == BabySparksSharedClassLibrary.Enums.UserType.Parent)
{
    <BabySparksUIComponents.SubComponent.ParentHome></BabySparksUIComponents.SubComponent.ParentHome>
}
@if (AppState.user.userType == BabySparksSharedClassLibrary.Enums.UserType.DayCare)
{
    <BabySparksUIComponents.SubComponent.DayCareHome></BabySparksUIComponents.SubComponent.DayCareHome>
}

@code{
    bool isSidebarOpen = false;
    async Task OpenSidebarMenu()
    {
        isSidebarOpen = true;
        StateHasChanged();
    }
    async Task CloseSidebar()
    {
        isSidebarOpen = false;
        StateHasChanged();
    }
}

