.chat-container {
    padding-top : 10px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
   
    border-radius: 5px;
    overflow: hidden;
}

.chat-header {
    padding: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #fff;
}

.chat-footer {
    padding: 10px;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
}
