@page "/nannies"

<div class="search-bar">
    <span class="fa fa-bars" @onclick="OpenSidebarMenu"></span>
    <input type="text" class="mt-3" placeholder="Search Nannies here" @bind="namesearch" @bind:event="oninput" @bind:after="NameChanged">
    <div>
        <input type="text" class="mt-3" placeholder="Location (City)" @bind="location" @bind:event="oninput" @bind:after="LocationChanged">
    </div>
    
</div>

<div class="babysitters-container">
    <div class="babysitters-nearby slider">
        @foreach (var nanny in searchnannies)
        {
            <div class="profile-card">
                <img src="/_content/BabySparksUIComponents/images/profile.png" alt="Profile Picture" class="profile-image" />
                <div class="profile-info">
                    <h3>@nanny.FirstName <span>$@nanny.HourlyCharges /hr</span></h3>
                    <p class="location"><i class="fa fa-map-marker"></i> @nanny.Address .</p>
                    <p class="bio">Bio: @nanny.Bio ...</p>
                    <div class="profile-actions">
                        <button class="view-profile">View profile</button>
                        <button class="message" @onclick="() => NavigateToMessages(nanny.Id)">Message</button>
                    </div>
                </div>
                <div class="profile-rating">
                    <i class="fa fa-star"></i> 4.1
                </div>
            </div>
        }

        <!-- Repeat profile-card for more babysitters -->
    </div>
</div>

@if (isSidebarOpen)
{
    <BabySparksUIComponents.SubComponent.Sidebar OnClose="CloseSidebar"></BabySparksUIComponents.SubComponent.Sidebar>
}

@code {

    bool isSidebarOpen = false;
    async Task OpenSidebarMenu()
    {
        isSidebarOpen = true;
        StateHasChanged();
    }
    async Task CloseSidebar()
    {
        isSidebarOpen = false;
        StateHasChanged();
    }
}

