@page "/register"
@layout BabySparksUIComponents.Components.Layout.AuthLayout

<div class="container">
    @if (!IsRoleSelected)
    {
        <div class="options">
            <ul>
                <li>
                    <input type="radio" name="userType" id="daycare" value="Day Care" @onchange="HandleSelection" />
                    <label for="daycare">
                        <img src="/_content/BabySparksUIComponents/images/daycare.svg" alt="Day Care" />
                        <span>Day Care Provider</span>
                    </label>
                </li>
                <li>
                    <input type="radio" name="userType" id="parent" value="Parent" @onchange="HandleSelection" />
                    <label for="parent">
                        <img src="/_content/BabySparksUIComponents/images/parent.svg" alt="Parent" />
                        <span>Parent</span>
                    </label>
                </li>
                <li>
                    <input type="radio" name="userType" id="nanny" value="Nanny" @onchange="HandleSelection" />
                    <label for="nanny">
                        <img src="/_content/BabySparksUIComponents/images/nanylogo.svg" alt="Nanny" />
                        <span>Nanny</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="button-container">
            <button class="btn btn-primary btn-next" @onclick="OnNextClick">Next</button>
        </div>
    }
    else
    {
        <div class="profile-container">
            <div class="profile-header">
                <button class="back-button" @onclick="GotoRoleSelection"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="profile-content">
                <div class="profile-image-container">
                    <div class="card-body" style="position: relative; width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
                        @if (user.ProfileImageUrl != null)
                        {
                            <img id="previewImg" src="@user.ProfileImageUrl" style="width: 100%; height: 100%; border-radius: 50%;" />
                        }
                        else
                        {
                            <img id="previewImg" src="/_content/BabySparksUIComponents/images/profile.png" style="width: 100%; height: 100%; border-radius: 50%;" />
                        }
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="capturedimage" style="display:none;" capture />
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="uploadimage" style="display:none;" />
                        <button class="btn btn-secondary" id="captureimageicon" type="button" @onclick="()=>OpenCamera()" style="position: absolute; bottom: 10px; right: 10px; border-radius: 50%; padding: 10px;">
                            <span class="fa fa-camera fa-lg"></span>
                        </button>
                    </div>
                </div>
                <EditForm Model="user" OnValidSubmit="RegisterUser">
                    @if (!selectedValue.Equals("Day Care"))
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input class="form-control" id="name" placeholder="Enter your First Name" @bind-value="user.FirstName" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input class="form-control" id="name" placeholder="Enter your Last Name" @bind-value="user.LastName" required />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input class="form-control" id="name" placeholder="Enter your DayCare Name" @bind-value="daycare.DayCareName" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <textarea class="form-control" id="name" placeholder="Enter your DayCare Desctiption" @bind="daycare.Description" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input class="form-control" id="name" placeholder="What Services your daycare provide" @bind-value="daycare.ServiceProvided" required />
                            </div>
                        </div>
                    }

                    <div class="form-row">
                        <div class="form-group col-md-4 offset-md-4">
                            <input class="form-control" id="phone" placeholder="Enter your Phone" @bind-value="user.PhoneNumber" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 offset-md-4">
                            <RadzenTextBox class="form-control" @ref="addressBoxRadzenTextBox" Name="BusinessAddress1" @bind-Value="user.Address" Change=@GoogleAddressAutoComplete required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 offset-md-4">
                            <input class="form-control" id="city" placeholder="Enter your City" @bind-value="user.City" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 offset-md-4">
                            <input class="form-control" id="zCode" placeholder="Enter your Zip Code" @bind-value="user.PinCode" required />
                        </div>

                    </div>
                    @if (selectedValue.Equals("Nanny"))
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <textarea class="form-control" id="name" placeholder="Tell use something about you self" @bind="nanny.Bio" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input type="number" class="form-control" id="name" placeholder="How much you charge hourly" @bind-value="nanny.HourlyCharges" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 offset-md-4">
                                <input type="number" class="form-control" id="name" placeholder="How much Experience do you have?" @bind-value="nanny.Experience" required />
                            </div>
                        </div>
                    }
                    <div class="text-center row" style="margin-top : 20px;">
                        <div class="form-group col-md-4 offset-md-4">
                            <input type="submit" value="Register" class="btn btn-primary submit-btn" />
                        </div>
                    </div>
                </EditForm>
                
            </div>
        </div>
    }   

</div>

