@page "/register"
@layout BabySparksUIComponents.Components.Layout.AuthLayout

<div class="container">
    @if (!IsRoleSelected)
    {
        <div class="options">
            <ul>
                <li>
                    <input type="radio" name="userType" id="daycare" value="Day Care" @onchange="HandleSelection" />
                    <label for="daycare">
                        <img src="/_content/BabySparksUIComponents/images/daycare.svg" alt="Day Care" />
                        <span>Day Care Provider</span>
                    </label>
                </li>
                <li>
                    <input type="radio" name="userType" id="parent" value="Parent" @onchange="HandleSelection" />
                    <label for="parent">
                        <img src="/_content/BabySparksUIComponents/images/parent.svg" alt="Parent" />
                        <span>Parent</span>
                    </label>
                </li>
                <li>
                    <input type="radio" name="userType" id="nanny" value="Nanny" @onchange="HandleSelection" />
                    <label for="nanny">
                        <img src="/_content/BabySparksUIComponents/images/nanylogo.svg" alt="Nanny" />
                        <span>Nanny</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="button-container">
            <button class="btn btn-primary btn-next" @onclick="OnNextClick">Next</button>
        </div>
    }
    else
    {
        <div class="profile-container">
            <div class="profile-content">
                <div class="profile-image-container">
                    <div class="card-body" style="position: relative; width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
                        @if (user.ProfileImageUrl != null)
                        {
                            <img id="previewImg" src="@user.ProfileImageUrl" style="width: 100%; height: 100%; border-radius: 50%;" />
                        }
                        else
                        {
                            <img id="previewImg" src="/_content/BabySparksUIComponents/images/profile.png" style="width: 100%; height: 100%; border-radius: 50%;" />
                        }
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="capturedimage" style="display:none;" capture />
                        <InputFile accept="image/*" OnChange="HandleFileSelected" id="uploadimage" style="display:none;" />
                        <button class="btn btn-secondary" id="captureimageicon" type="button" @onclick="()=>OpenCamera()" style="position: absolute; bottom: 10px; right: 10px; border-radius: 50%; padding: 10px;">
                            <span class="fa fa-camera fa-lg"></span>
                        </button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <InputText class="form-control" id="name" placeholder="Enter your Name" @bind-Value="user.Name" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <InputText class="form-control" id="phone" placeholder="Enter your Phone" @bind-Value="user.PhoneNumber" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <RadzenTextBox class="form-control" @ref="addressBoxRadzenTextBox" Name="BusinessAddress1" @bind-Value="user.Address" Change=@GoogleAddressAutoComplete />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <InputText class="form-control" id="city" placeholder="Enter your City" @bind-Value="user.City" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                        <InputText class="form-control" id="zCode" placeholder="Enter your Zip Code" @bind-Value="user.PinCode" />
                    </div>

                </div>
                <div class="text-center row" style="margin-top : 20px;">
                    <div class="form-group col-md-4 offset-md-4">
                        <input type="submit" value="Register" class="btn btn-primary submit-btn" @onclick="RegisterUser"/>
                    </div>
                </div>
            </div>
        </div>
    }   

</div>

