@page "/signup"
@layout BabySparksUIComponents.Components.Layout.AuthLayout


<div class="signup-background">
    <EditForm Model=@user OnValidSubmit=@SignUpFormSubmitted FormName="signupform" class="signup-form">
        <h2>Welcome SignUP</h2>
        <div>
            <div class="form-group">
                <div class="tooltip-container">
                    <InputText id="Email" class="form-control" placeholder="Email Address"
                               @bind-Value="user.Email" />
                    <span class="tooltip">Enter your email</span>
                </div>
            </div>
            <div class="form-group">
                <div class="tooltip-container">
                    <InputText id="Password" class="form-control" placeholder="Password"
                               @bind-Value="user.Password" />
                    <span class="tooltip">Enter your password</span>
                </div>
            </div>
            <div class="form-group">
                <div class="tooltip-container">
                    <InputText id="ConfirmPassword" class="form-control" placeholder="Confirm Password"
                               @bind-Value="user.ConfirmPassword" />
                    <span class="tooltip">Confirm your password</span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
</div>


