@page "/signup"
@layout BabySparksUIComponents.Components.Layout.AuthLayout

<EditForm Model=@user OnValidSubmit=@SignUpFormSubmitted FormName="signupform">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="Email" class="col-sm-4 col-form-label">
                    Email
                </label>
                <div class="col-sm-8">
                    <InputText id="Email" class="form-control" placeholder="Email Address"
                               @bind-Value="user.Email" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-4 col-form-label">
                    Password
                </label>
                <div class="col-sm-8">
                    <InputText id="Password" class="form-control" placeholder="Password"
                               @bind-Value="user.Password" />
                </div>
            </div>
            <div class="form-group row">
                <label for="ConfirmPassword" class="col-sm-4 col-form-label">
                    Confirm Password
                </label>
                <div class="col-sm-8">
                    <InputText id="ConfirmPassword" class="form-control" placeholder="Confirm Password"
                               @bind-Value="user.ConfirmPassword" />
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</EditForm>