html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Optional: Background color for the page */
    padding: 0 20px; /* Add padding to prevent the form from touching the screen edges on smaller devices */
}

.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.logo img {
    max-width: 300px; /* Adjust the size to be more responsive */
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #ff66b2;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-container {
    position: relative;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.tooltip {
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.signup-btn {
    background-color: #ff66b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

    .signup-btn:hover {
        background-color: #ff3385;
    }

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .signup-container {
        padding: 15px;
    }

    .form-control {
        font-size: 14px;
    }

    .signup-btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    .tooltip {
        font-size: 10px;
    }

    .title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .signup-container {
        padding: 10px;
    }

    .form-control {
        font-size: 12px;
    }

    .signup-btn {
        font-size: 12px;
        padding: 6px 10px;
    }

    .tooltip {
        font-size: 8px;
    }

    .title {
        font-size: 18px;
    }
}
