<div class="container">
    <div class="row">
        <div class="col-sm-4 m-4">
            <button type="button" class="btn btn-primary">Enroll Children</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-center">
                    Total Enrolled Children
                    <div class="display-4">25</div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-center">
                    Total Present Children
                    <div class="display-4">21</div>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-center">
                    Total Absent Children
                    <div class="display-4">4</div>
                </div>
            </div>
        </div>
    </div>
</div>