<div class="header-container">
    <div class="header">
        <div class="imageheader" style="display : flex; height : 60px;">
            <div style="width:50px;">
                <img src="/_content/BabySparksUIComponents/images/parent.svg" alt="Profile Image">

            </div>
            <div>
                <h4 style="margin: 10px;">Hello Parent</h4>

            </div>
        </div>
        <div class="welcomeheader" style="text-align:left;">
            <h5>Welcome to BabySparks</h5>
            <p>Let's find the best daycare for your children</p>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search here">
    </div>
</div>
<div>

</div>