@inherits LayoutComponentBase
@inject AppState AppState
@inject NavigationManager navigationManager

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <div class="page">

        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="">
                @Body
            </article>
        </main>
    </div>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
@code{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}

