@using BabySparksSharedClassLibrary.Models
@inherits LayoutComponentBase
@inject AppState AppState
@inject IStorageService StorageService
@inject NavigationManager navigationManager
@inject HubConnection hubConnection

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <div class="page">
        <main>
            <article class="">
                @Body
            </article>
        </main>
    </div>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
@code{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            AppState.user = await StorageService.GetValue<User>("user");
            hubConnection.On<string, string>(AppState.user.Id, (user, message) =>
            {
                
            });
            await hubConnection.StartAsync();
        }

    }
    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}

